<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#JSON-and-XML---Lab" data-toc-modified-id="JSON-and-XML---Lab-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>JSON and XML - Lab</a></span><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#XML" data-toc-modified-id="XML-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>XML</a></span><ul class="toc-item"><li><span><a href="#Create-an-XML-tree-and-retrieve-the-root-tag." data-toc-modified-id="Create-an-XML-tree-and-retrieve-the-root-tag.-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Create an XML tree and retrieve the root tag.</a></span></li><li><span><a href="#How-many-direct-descendents-does-the-root-tag-have?" data-toc-modified-id="How-many-direct-descendents-does-the-root-tag-have?-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>How many direct descendents does the root tag have?</a></span></li><li><span><a href="#How-many-different-types-of-tags-are-there-within-the-entire-XML-file?" data-toc-modified-id="How-many-different-types-of-tags-are-there-within-the-entire-XML-file?-1.3.3"><span class="toc-item-num">1.3.3&nbsp;&nbsp;</span>How many different types of tags are there within the entire XML file?</a></span></li><li><span><a href="#Create-a-DataFrame-listing-the-number-of-each-type-of-tag." data-toc-modified-id="Create-a-DataFrame-listing-the-number-of-each-type-of-tag.-1.3.4"><span class="toc-item-num">1.3.4&nbsp;&nbsp;</span>Create a DataFrame listing the number of each type of tag.</a></span></li></ul></li><li><span><a href="#JSON" data-toc-modified-id="JSON-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>JSON</a></span><ul class="toc-item"><li><span><a href="#Open-the-same-dataset-from-json" data-toc-modified-id="Open-the-same-dataset-from-json-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Open the same dataset from json</a></span></li><li><span><a href="#What-is-the-root-data-type-of-the-json-file?" data-toc-modified-id="What-is-the-root-data-type-of-the-json-file?-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>What is the root data type of the json file?</a></span></li><li><span><a href="#Navigate-to-the-'data'-key-of-your-loaded-json-object.-What-data-type-is-this?" data-toc-modified-id="Navigate-to-the-'data'-key-of-your-loaded-json-object.-What-data-type-is-this?-1.4.3"><span class="toc-item-num">1.4.3&nbsp;&nbsp;</span>Navigate to the 'data' key of your loaded json object. What data type is this?</a></span></li><li><span><a href="#Preview-the-first-entry-from-the-value-returned-by-the-'data'-key-above." data-toc-modified-id="Preview-the-first-entry-from-the-value-returned-by-the-'data'-key-above.-1.4.4"><span class="toc-item-num">1.4.4&nbsp;&nbsp;</span>Preview the first entry from the value returned by the 'data' key above.</a></span></li><li><span><a href="#Preview-the-Entry-under-meta-->-view-->-columns-(the-keys-of-three-successively-nested-dictionaries)" data-toc-modified-id="Preview-the-Entry-under-meta-->-view-->-columns-(the-keys-of-three-successively-nested-dictionaries)-1.4.5"><span class="toc-item-num">1.4.5&nbsp;&nbsp;</span>Preview the Entry under meta -&gt; view -&gt; columns (the keys of three successively nested dictionaries)</a></span></li><li><span><a href="#Create-a-DataFrame-from-your-json-data" data-toc-modified-id="Create-a-DataFrame-from-your-json-data-1.4.6"><span class="toc-item-num">1.4.6&nbsp;&nbsp;</span>Create a DataFrame from your json data</a></span></li><li><span><a href="#What's-wrong-with-the-first-row-of-the-DataFrame?" data-toc-modified-id="What's-wrong-with-the-first-row-of-the-DataFrame?-1.4.7"><span class="toc-item-num">1.4.7&nbsp;&nbsp;</span>What's wrong with the first row of the DataFrame?</a></span></li></ul></li><li><span><a href="#Summary" data-toc-modified-id="Summary-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Summary</a></span></li></ul></li></ul></div>

# JSON and XML - Lab

## Introduction

In this lab, you'll practice navigating JSON and XML data structures.

## Objectives
You will be able to:
* Effectively use the JSON module to load and parse JSON documents
* Read and access data stored in JSON and XML
* Compare  and contrast the JSON and XML as data interchange types

## XML

In [1]:
import xml.etree.ElementTree as ET

### Create an XML tree and retrieve the root tag.

In [2]:
#Your code here
tree = ET.parse('nyc_2001_campaign_finance.xml')
root = tree.getroot()

### How many direct descendents does the root tag have?

In [9]:
count = 0
for child in root:
    count += 1
    print(count)
#Answer: 1

1

### How many different types of tags are there within the entire XML file?

In [10]:
# Your code here
tags = []
for element in root.iter():
    tags.append(element.tag)
print(len(set(tags)))

13

### Create a DataFrame listing the number of each type of tag. 
Sort the DataFrame in descending order by the tag count. The first entry should demonstrate there are 286 row tags in the XML file.   
(Your DataFrame will be a single column, so could also be thought of as a Series.)

In [18]:
import pandas as pd

In [20]:
tags = {}
for element in root.iter():
    tags[element.tag] = tags.get(element.tag, 0) + 1
df = pd.DataFrame.from_dict(tags, orient='index')
df.columns = ['count']
df = df.sort_values(by='count', ascending=False)
df.head()

          count
row         286
candid      285
candname    285
canclass    285
election    284

## JSON

### Open the same dataset from json

In [21]:
#Your code here
import json 
f = open('nyc_2001_campaign_finance.json')
data = json.load(f)

### What is the root data type of the json file?

In [22]:
### Your code here
print(type(data))

<class 'dict'>

### Navigate to the 'data' key of your loaded json object. What data type is this?

In [25]:
#Your code here
data.keys()
print(type(data['meta']))
print(type(data['data']))

<class 'dict'>
<class 'list'>

### Preview the first entry from the value returned by the 'data' key above.

In [26]:
#Your code here
data['data'][0]

[1,
 'E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1',
 1,
 1315925633,
 '392904',
 1315925633,
 '392904',
 '{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}',
 None,
 'CANDID',
 'CANDNAME',
 None,
 'OFFICEBORO',
 None,
 'CANCLASS',
 None,
 None,
 None,
 None]

### Preview the Entry under meta -> view -> columns (the keys of three successively nested dictionaries)

In [29]:
data['meta']['view']['columns'][0]

{'id': -1,
 'name': 'sid',
 'dataTypeName': 'meta_data',
 'fieldName': ':sid',
 'position': 0,
 'renderTypeName': 'meta_data',
 'format': {},
 'flags': ['hidden']}

### Create a DataFrame from your json data
The previous two questions previewed one entry from the data object within the json file, as well as the column details associated with that data from the meta entry within the json file. Both should have 19 entries. Create a DataFrame of the data. Be sure to use the information from the meta entry to add appropriate column names to your DataFrame.

In [30]:
#Your code here
df = pd.DataFrame(data['data'])
cols = [i['name'] for i in data['meta']['view']['columns']]
df.columns = cols
df.head()

,sid,id,position,created_at,created_meta,updated_at,updated_meta,meta,ELECTION,CANDID,CANDNAME,OFFICECD,OFFICEBORO,OFFICEDIST,CANCLASS,PRIMARYPAY,GENERALPAY,RUNOFFPAY,TOTALPAY
0,1,E3E9CC9F-7443-43F6-94AF-B5A0F802DBA1,1,1315925633,392904,1315925633,392904,"{\n ""invalidCells"" : {\n ""1519001"" : ""TOTA...",None,CANDID,CANDNAME,None,OFFICEBORO,None,CANCLASS,None,None,None,None
1,2,9D257416-581A-4C42-85CC-B6EAD9DED97F,2,1315925633,392904,1315925633,392904,{\n},2001,B4,"Aboulafia, Sandy",5,None,44,P,45410.00,0,0,45410.00
2,3,B80D7891-93CF-49E8-86E8-182B618E68F2,3,1315925633,392904,1315925633,392904,{\n},2001,445,"Adams, Jackie R",5,None,7,P,11073.00,0,0,11073.00
3,4,BB012003-78F5-406D-8A87-7FF8A425EE3F,4,1315925633,392904,1315925633,392904,{\n},2001,HF,"Addabbo, Joseph P",5,None,32,P,75350.00,73970.00,0,149320.00
4,5,945825F9-2F5D-47C2-A16B-75B93E61E1AD,5,1315925633,392904,1315925633,392904,{\n},2001,IR,"Alamo-Estrada, Agustin",5,None,14,P,25000.00,2400.00,0,27400.00

### What's wrong with the first row of the DataFrame?

In [32]:
#Your code here
df.meta.iloc[0]
#the string/dictionary under meta

'{\n  "invalidCells" : {\n    "1519001" : "TOTALPAY",\n    "1518998" : "PRIMARYPAY",\n    "1519000" : "RUNOFFPAY",\n    "1518999" : "GENERALPAY",\n    "1518994" : "OFFICECD",\n    "1518996" : "OFFICEDIST",\n    "1518991" : "ELECTION"\n  }\n}'

#Your answer here

## Summary

Congratulations! You've started exploring some more complicated data structures used for the web and got to practice data munging and exploring!